<h2>Flood Categories</h2>
<h4><u>Primary (ft)</u></h4>
<ul>
  <li>Action  : 17 ft</li>
  <li>Minor  : 20 ft</li>
  <li>Moderate  : 24 ft</li>
  <li>Major  : 30 ft</li>
</ul>
<h4><u>Secondary (kcfs)</u></h4>
<ul>
  <li>Action  : Not Set</li>
  <li>Minor  : Not Set</li>
  <li>Moderate  : Not Set</li>
  <li>Major  : Not Set</li>
</ul>
<h2>Gauge Data</h2>
<div>Latest Observation Category: Minor</div>
<div>Latest Observation: 20.2 ft</div>
<div>Latest Observation (Secondary): 143 kcfs</div>
<div>Observation Time: Oct 12, 2019 07:00 AM -0500</div>
